<div class="card content-card" id="question-<%= question.id %>">

  <div class="d-flex justify-content-between align-items-center">
    <% if question.user.photo.attached? %>
      <%= cl_image_tag question.user.photo.key, class: "avatar"  %>
    <% else %>
       <%= image_tag "avatar.svg", class: "avatar" %>
    <% end %>
    <div class="flex-grow-1 center">
      <div class="d-flex justify-content-around align-items-center">

        <div class="flex-grow-1">
        <h5><%= question.user.first_name %> <%= question.user.last_name %></h5>
       </div>

        <div>
          <%= link_to like_event_question_path(@event, question), method: :put do  %>
            <% if current_user.voted_for? question %>
              <i class="fas fa-thumbs-up bluecolor"></i>
            <% else %>
              <i class="fas fa-thumbs-up graycolor"></i>
            <% end %>
          <% end %>
          <%= question.get_likes.size %>
        </div>
      </div>
      <p><%= question.content %></p>
    </div>
  </div>
</div>

