<div class="card content-card" id="question-<%= question.id %>">
  <div class="d-flex justify-content-between align-items-center">
    <% if question.user.photo.attached? %>
      <%= cl_image_tag question.user.photo.key, class: "avatar-large"  %>
    <% else %>
       <%= image_tag "avatar.svg", class: "avatar-large" %>
    <% end %>
    <div class="flex-grow-1 center">
      <h5><%= question.user.first_name %> <%= question.user.last_name %></h5>
      <p><%= question.content %></p>

      <%= link_to ('<i class="fas fa-thumbs-up graycolor" id="thumbsup"></i>').html_safe, like_event_question_path(@event, question), method: :put  %>
      <%= question.get_likes.size %>
    </div>
  </div>
</div>

