<div class="container content-container">
  <h1>Comments</h1>
  <div class="question-scroll" id="messages" data-event-id="<%= event.id %>">
    <% event.messages.each do |message| %>
      <%= render "messages/message", event: event, message: message  %>
    <% end %>
  </div>
  <%= simple_form_for([event, Message.new], remote: true) do |f| %>
    <div class="input-field">
      <%= f.input :content %>
    </div>
    <div class="center">
      <%= f.submit 'comment', class: "btn-input" %>
    </div>
  <% end %>
</div>

