<div class="card content-card" id="message-<%= message.id %>">
  <div class="d-flex justify-content-between align-items-center">
    <% if message.user.photo.attached? %>
      <%= cl_image_tag message.user.photo.key, class: "avatar-large"  %>
    <% else %>
       <%= image_tag "avatar.svg", class: "avatar-large" %>
    <% end %>
    <div class="flex-grow-1">
      <h5><%= message.user.first_name %> <%= message.user.last_name %></h5>
      <p><%= message.content %></p>
      <%= link_to 'Like', like_event_message_path(event, message), method: :put  %>
      <%= message.get_likes.size %>
    </div>
  </div>
</div>
