<div class="user-page">

 <div class="container username">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <h3><%= @user.occupation %></h3>
  </div>


  <div class="container project-names">
  <h1>
    <%= @user.first_name %> <%= @user.last_name %>'s projects
  </h1>
  </div>



  <% @events.each do |event| %>
  <div class="user-events">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">


    <%= link_to event.title, event_path(event), class: "text-red" %>
<div class="event-location">
    <%= event.start_time %>
  </div>
  </div>
  <% end %>

</div>

 <%# if @event.photo.attached? %>
          <%#= cl_image_tag @event.photo.key %>
         <%# end %>



