<h2 class="text-red text-space-around center">Compare with your previous events</h2>
<div class="summary-cards-compare">
  <div class="card-box-wide">
    <h4 class="center">Audiences</h4>
    <div class="flexed-contents">
        <div class="flexed-contents-center">
          <p class="center">Number of attendees</p>
          <%= line_chart audiences.group(:event_id).count, width: "300px", height: "200px", colors: ['#800000'] %>
          <% events = audiences.group(:event_id).count.sort_by{ |id, num| num }.reverse.first(3) %>
        </div>
        <div class="text-box-small flexed-contents-center">
          <small>Most Popular Events</small>
          <% events.each do |event| %>
            <div class="d-flex justify-content-between align-items-center">
              <li><%= Event.find(event[0]).title %></li>
              <small><%= event[1] %></small>
            </div>
          <% end %>
        </div>
    </div>
      <div class="total d-flex justify-content-around align-items-center">
        <div>
          <p>Average age of your audience</p>
          <% if audiences.joins(:user).pluck(:age) && audiences.joins(:user).pluck(:age).any? %>
            <p><small><em><%= audiences.joins(:user).pluck(:age).sum / audiences.joins(:user).pluck(:age).size %></em></small></p>
            <p>Most popular occupation</p>
            <% array = audiences.joins(:user).group(:occupation).count.sort_by{ |o, num| num }.reverse.first  %>
            <p><small><em><%= array[0] %>&nbsp;&nbsp;&nbsp;&nbsp;<%= array[1] %> people</em></small></p>
          <% end %>
        </div>
        <div>
          <p>Gender ratio</p>
          <%= pie_chart audiences.joins(:user).group(:gender).count, width: "150px", height: "150px", colors: ['#800000', '#001980'] %>
        </div>
      </div>
  </div>
  <div class="card-box-wide">
    <h4 class="center">Feedback</h4>
      <p>Average rating of your events</p>
      <% user_events = Event.where(user: current_user) %>
        <% rates = [] %>
        <% user_events.each do |event| %>
          <% unless event.feedbacks.nil? || event.feedbacks.empty? %>
            <% rates << event.feedbacks.average(:rating).round(1) %>
          <% end %>
        <% end %>
        <% if rates.any? %>
          <% if ((rates.sum / rates.size)* 2).round.odd? %>
            <% (((rates.sum / rates.size) * 2).round / 2).times do %>
              <i class="fas fa-star fa-2x" id="star"></i>
            <% end %>
            <i class="fas fa-star-half fa-2x" id="star"></i>
          <% else %>
            <% (((rates.sum / rates.size) * 2).round / 2).times do %>
              <i class="fas fa-star fa-2x" id="star"></i>
            <% end %>
          <% end %>
        <% end %>
        <div class="d-flex align-items-end justify-content-around m-3">
          <p>Average rating</p>
          <% if rates.any? %>
            <p><%= (rates.sum / rates.size).round(1) %></p>
          <% end %>
        </div>
        <p class="text-red m-3">Feedbacks from your audience</p>
        <div class="total">
          <% user_events.sample(2).each do |event| %>
            <% unless event.feedbacks.nil? || event.feedbacks.empty? %>
              <% event.feedbacks.sample(2).each do |feedback| %>
                <div class="feedback d-flex justify-content-between m-3">
                  <p><%= feedback.event.title %></p>
                  <p><em><%= feedback.comment %></em></p>
                  <p><small>By <%= feedback.user.first_name %> <%= feedback.user.last_name %></small></p>
                </div>
              <% end %>
            <% end %>
          <% end %>
          <p class="right">See all feedbacks</p>
        </div>
  </div>
  <div class="card-box-wide">
    <h4 class="center">Comments and Questions</h4>
    <div class="flexed-contents">
      <div class="flexed-contents-center">
        <p>Number of comments</p>
        <%= line_chart questions.group(:event_id).count, width: "300px", height: "200px", colors: ['#800000'] %>
        <div class="total text-box-small flexed-contents-center">
          <% events = questions.group(:event_id).count.sort_by{ |id, num| num }.reverse %>
          <% events.each do |event| %>
            <div class="d-flex justify-content-between align-items-center">
              <li><%= Event.find(event[0]).title %></li>
              <small><%= event[1] %></small>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flexed-contents-center">
        <p>Number of questions</p>
        <%= line_chart messages.group(:event_id).count, width: "300px", height: "200px", colors: ['#800000'] %>
        <div class="total text-box-small flexed-contents-center">
          <% events = messages.group(:event_id).count.sort_by{ |id, num| num }.reverse %>
          <% events.each do |event| %>
            <div class="d-flex justify-content-between align-items-center">
              <li><%= Event.find(event[0]).title %></li>
              <small><%= event[1] %></small>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-box-wide">
    <h4>Popular comments</h4>
      <% messages = messages.order(cached_votes_total: :desc).first(2) %>
      <% messages.each do |top_message| %>
        <div class="m-3 d-flex justify-content-around align-items-center">
          <p><%= top_message.event.title %></p>
          <div class="left popular_content">
            <p><small><em><%= top_message.content %></em></small></p>
            <p class="right"><small>By <%= top_message.user.first_name %> <%= top_message.user.last_name %></small></p>
          </div>
          <small><%= top_message.get_likes.count %> Likes</small>
        </div>
      <% end %>
    <p class="total right">See all comments</p>
    <h4>Popular Questions</h4>
      <% top_question = questions.order(cached_votes_total: :desc).first %>
      <div class="m-3 d-flex justify-content-around align-items-center">
        <p><%= top_question.event.title %></p>
        <div class="left popular_content">
          <p class="flex-grow-1"><small><em><%= top_question.content %></em></small></p>
          <p class="right"><small>By <%= top_question.user.first_name %> <%= top_question.user.last_name %></small></p>
        </div>
        <small><%= top_question.get_likes.count %> Likes</small>
      </div>
    <p class="total right">See all questions</p>
  </div>
</div>



