<h2 class="text-red text-space-around center">Compare with your previous events</h2>
<div class="summary-cards-compare">
  <div class="card-box-wide">
    <h4 class="center">Audiences</h4>
    <div class="flexed-contents">
        <div class="flexed-contents-center">
          <p class="center">Number of attendees</p>
          <%= line_chart audiences.group(:event_id).count, width: "300px", height: "200px", colors: ['#800000'] %>
          <% events = audiences.group(:event_id).count.first(3) %>
        </div>
        <div class="text-box-small flexed-contents-center">
          <small>Most Popular Events</small>
          <% events.each do |event| %>
            <div class="d-flex justify-content-between align-items-center">
              <li><%= Event.find(event[0]).title %></li>
              <small><%= event[1] %></small>
            </div>
          <% end %>
        </div>
    </div>
    <div class="center">
      <p>Average age of your audience</p>
      <p>Most popular occupation</p>
      <p>Gender ratio</p>
    </div>
  </div>
  <div class="card-box-wide">
    <h4 class="center">Feedback</h4>
    <div class="d-flex justify-content-around">
      <p>Event rating</p>
      <p>⭐️⭐️⭐️</p>
    </div>
    <div class="d-flex justify-content-around">
      <p>Feedback 2</p>
      <p>description</p>
    </div>
  </div>
  <div class="card-box-wide">
    <h4 class="center">Comments and Questions</h4>
    <div class="flexed-contents">
      <div class="flexed-contents-center">
        <p>Number of comments</p>
        <%= line_chart questions.group(:event_id).count, width: "300px", height: "200px", colors: ['#800000'] %>
        <div class="text-box-small flexed-contents-center">
          <% events = questions.group(:event_id).count.first(3) %>
          <% events.each do |event| %>
            <div class="d-flex justify-content-between align-items-center">
              <li><%= Event.find(event[0]).title %></li>
              <small><%= event[1] %></small>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flexed-contents-center">
        <p>Number of questions</p>
        <%= line_chart messages.group(:event_id).count, width: "300px", height: "200px", colors: ['#800000'] %>
        <div class="text-box-small flexed-contents-center">
          <% events = messages.group(:event_id).count.first(3) %>
          <% events.each do |event| %>
            <div class="d-flex justify-content-between align-items-center">
              <li><%= Event.find(event[0]).title %></li>
              <small><%= event[1] %></small>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-box-wide">
    <h4 class="center">Free space... for something else</h4>
  </div>
</div>



