<div class="container d-flex justify-content-around event-page">
  <div class="event-info d-flex justify-content-between">

    <div class="description">
      <h1><%= @event.title %></h1>
      <p><%= @event.description %></p>
      <% if @event.user == current_user %>
        <h1>Event token</h1>
        <h2><%= @event.token %></h2>
      <% end %>
      <!-- Link to the creator -->
      <%= link_to "#{@event.user.first_name} #{@event.user.last_name}, Organizer", user_path(@event.user), class: "organizer-link" %>
    </div>

    <div class="users">
      <h4>Users</h4>
      <p><%= @event.users.count %> attendees</p>
    </div>

  </div>
</div>

<!-- Photo for later -->
<div class="tabs">
  <%= render 'shared/tabs', event: @event, message: @message, question: @question  %>
</div>

<div class="footer">
  <%= render 'shared/footer', event: @event, message: @message, question: @question  %>
</div>
