<div class="banner-red event-banner">
</div>
<div class="container event-container">
  <div class="event-info">
    <div class="description">
      <h1><%= @event.title %></h1>
      <p><%= @event.description %></p>
    </div>
    <div class="organizer">
      <h2>
        <%= link_to "Organizer🎤#{@event.user.first_name} #{@event.user.last_name}", user_path(@event.user) %>
      </h2>
      <% if @event.user == current_user %>
        <h5>Event code ♯ <%= @event.token %></h5>
      <% end %>
    </div>
  </div>
  <div class="event-info">
    <div class="description">
<!--       EVENT DATE & TIME -->
    </div>
    <div>
      <p><%= @event.users.count %> attendees</p>
    </div>
  </div>
</div>

<!-- Photo for later -->

<div class="facilitation">
  <div class="tabs">
    <%= render 'shared/tabs', event: @event, message: @message, question: @question  %>
  </div>

  <div class="footer">
    <%= render 'shared/footer', event: @event, message: @message, question: @question  %>
  </div>
</div>
