<h2 class="text-space-top"><%= link_to @event.title, event_path(@event), class: "text-red link text-space-around" %>Overview</h2>
  <div id="summary-bar">
    <div class="card-square">
      <h2 class="text-red"><%= @event.audiences.count %></h2>
      <p>people attended!</p>
      <i class="fas fa-user-friends fa-lg"></i>
    </div>
    <div class="card-square">
      <h2 class="text-red"><%= @event.messages.count %></h2>
      <p>comments received!</p>
      <i class="fas fa-comments fa-lg"></i>
    </div>
    <div class="card-square">
      <h2 class="text-red"><%= @event.questions.count %></h2>
      <p>questions received!</p>
      <i class="fas fa-question-circle fa-lg"></i>
    </div>
    <div class="card-square">
      <h2 class="text-red"><%= @event.polls.count %></h2>
      <p>polls created!</p>
      <i class="fas fa-poll fa-lg"></i>
    </div>
    <div class="card-square">
      <h2 class="text-red"><%= @event.feedbacks.count %></h2>
      <p>feedback received!</p>
      <i class="fas fa-envelope-open-text fa-lg"></i>
    </div>
  </div>
<h3 class="text-red text-space-around space-top">Event details</h3>
<div class="summary-cards-first">
  <div class="card-box">
    <h4>Popular comments</h4>
      <% unless @event.messages.nil? || @event.messages.empty? %>
        <div class="d-flex justify-content-around align-items-center">
          <% top_message = @event.messages.order(cached_votes_total: :desc).first %>
          <% if top_message.user.photo.attached? %>
            <%= cl_image_tag top_message.user.photo.key, class: "avatar" %>
          <% else %>
            <%= image_tag "avatar.svg", class: "avatar" %>
          <% end %>
        <div class="left popular_content">
          <p><small><em><%= top_message.content[0..100] %>...</em></small></p>
          <p class="right"><small>By <%= top_message.user.first_name %> <%= top_message.user.last_name %></small></p>
        </div>
        <small><%= top_message.get_likes.count %> Likes <i class="fas fa-heart fa-xs bluecolor"></i></small>
        </div>
        <p class="right"><%= link_to "See all comments", event_path(@event), class: "text-red link" %></p>
      <% else %>
        <h5>No comments for this event</h5>
      <% end %>
    <h4>Popular Questions</h4>
      <% unless  @event.questions.nil? || @event.questions.empty? %>
        <div class="d-flex justify-content-around align-items-center">
          <% top_question = @event.questions.order(cached_votes_total: :desc).first %>
            <% if top_question.user.photo.attached? %>
              <%= cl_image_tag top_question.user.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag "avatar.svg", class: "avatar" %>
            <% end %>
            <div class="left popular_content">
              <p><small><em><%= top_question.content[0..100] %>...</em></small></p>
              <p class="right"><small>By <%= top_question.user.first_name %> <%= top_question.user.last_name %></small></p>
            </div>
            <small><%= top_question.get_likes.count %> Likes <i class="fas fa-thumbs-up fa-xs bluecolor"></i></small>
        </div>
        <p class="right"><%= link_to "See all questions", event_path(@event), class: "text-red link" %></p>
      <% else %>
        <h5>No questions for this event</h5>
      <% end %>
  </div>
  <div class="card-box-wide">
    <h4 class="center">Poll results</h4>
    <% unless @event.polls == nil || @event.polls.empty? %>
      <div class="poll-results d-flex flex-wrap">
        <% @event.polls.first(2).each_with_index do |poll, i|  %>
          <div>
            <p class="text-space-around"><%= i + 1 %>. <%= poll.title %></p>
            <%= bar_chart poll.responses.group("choices.answer").count, dataset: {barThickness: 20}, width: "200px", height: "140px", colors: ['#800000'] %>
          </div>
        <% end %>
      </div>
      <p class="right text-space-around">See all poll results</p>
    <% else %>
      <h5>No Polls for this event</h5>
    <% end %>
  </div>
  <div class="card-box">
    <h4 class="center">Feedback</h4>
    <% unless @event.feedbacks == nil || @event.feedbacks.empty? %>
        <% rate = @event.feedbacks.average(:rating).round(1) %>
        <% if (rate * 2).round.odd? %>
          <% ((rate * 2).round / 2).times do %>
            <i class="fas fa-star fa-2x" id="star"></i>
          <% end %>
          <i class="fas fa-star-half fa-2x" id="star"></i>
        <% else %>
          <% ((rate * 2).round / 2).times do %>
            <i class="fas fa-star fa-2x" id="star"></i>
          <% end %>
        <% end %>
        <div class="d-flex align-items-end justify-content-around m-3">
          <p>Average rating</p>
          <p><%= rate %></p>
        </div>
        <p class="text-red m-3">Feedback from your audience</p>
        <% @event.feedbacks.sample(3).each do |feedback| %>
        <div class="feedback d-flex justify-content-between">
          <p><em><%= feedback.comment[0...50] %></em>...</p>
          <small>By <%= feedback.user.first_name %> <%= feedback.user.last_name %></small>
        </div>
        <% end %>
      <p class="right"><%= link_to "See all feedback", event_feedbacks_path, class: "text-red link"%></p>
    <% end %>
  </div>
</div>

<h3 class="text-red text-space-around space-top">Audience details</h3>
<div class="summary-cards">
  <div class="card-box">
    <div id="audience-list">
       <h3><%= @event.audiences.count %> <small>attendees</small></h3>
       <p>See all</p>
    </div>
      <% @event.users.first(4).each do |audience| %>
        <div class="audience-card">
          <div>
            <% if audience.photo.attached? %>
              <%= cl_image_tag audience.photo.key, class: "avatar" %>
            <% else %>
               <%= image_tag "avatar.svg", class: "avatar" %>
            <% end %>
          </div>
           <div class="audience-name-card">
             <h6><%= audience.first_name %> <%= audience.last_name %></h6>
          </div>
        </div>
      <% end %>
  </div>
  <div class="card-box">
    <h4 class="center">Audience age</h4>
    <% users = Audience.where(event: @event).joins(:user).where.not(users: {age: nil}) %>
    <%= bar_chart users.group("FLOOR(age / 10) * 10").count, dataset: {barThickness: 30}, width: "240px", height: "240px", colors: ['#800000']%>
  </div>
  <div class="card-box">
    <h4 class="center">Gender breakdown</h4>
    <% users = Audience.where(event: @event).joins(:user).where.not(users: {gender: ""}) %>
    <%= pie_chart users.group(:gender).count, width: "240px", height: "240px", colors: ['#800000', '#001980'] %>
    <div class="d-flex justify-content-around m-3">
      <% females = users.select do |audience| %>
        <% audience.user.gender == "Female"  %>
      <% end %>
      <% unless females == nil || females.empty? %>
        <p>Female <%= ((females.count.to_f / users.count) * 100).round %>%</p>
        <% males = users.select do |audience| %>
          <% audience.user.gender == "Male"  %>
        <% end %>
      <% end %>
      <% unless  males == nil || males.empty? %>
        <p>Male <%= ((males.count.to_f / users.count) * 100).round %>%</p>
      <% end %>
    </div>
  </div>
  <div class="card-box">
    <h5 class="center">Audience occupation breakdown</h5>
    <div class="d-flex justify-content-around">
      <% users = Audience.where(event: @event).joins(:user).where.not(users: {occupation: ""}) %>
      <%= pie_chart users.group(:occupation).count, donut: true, id: "users-chart", height: "300px", width: "320px", colors: ['#001980', '#800000', '#D78C00', '#357544', '#75355D', '#FF8C9E'] %>
    </div>
  </div>
</div>
<%= render 'compare_summary', event: @event, audiences: @audiences, messages: @messages, questions: @questions %>








