<h2 class="text-red text-space-around"><%= @event.title %> Overview</h2>
  <div id="summary-bar">
    <div class="card-square">
      <h2><%= @event.audiences.count %></h2>
      <p>people attended!</p>
    </div>
    <div class="card-square">
      <h2><%= @event.messages.count %></h2>
      <p>comments received!</p>
    </div>
    <div class="card-square">
      <h2><%= @event.questions.count %></h2>
      <p>questions received!</p>
    </div>
    <div class="card-square">
      <h2><%= @event.polls.count %></h2>
      <p>polls created!</p>
    </div>
    <div class="card-square">
      <h2><%= @event.feedbacks.count %></h2>
      <p>pieces of feedback received!</p>
    </div>
  </div>
<h3 class="text-red text-space-around">Event details</h3>
<div class="summary-cards-first">
  <div class="card-box">
    <h4>Popular comments</h4>
      <p><% popular_messages = @messages.order(cached_votes_total: :desc).first(2) %></p>
      <% popular_messages.each do |message|%>
        <div class="d-flex justify-content-around align-items-center">
          <% if message.user.photo.attached? %>
            <%= image_tag message.user.photo.key, class: "avatar" %>
          <% else %>
            <%= image_tag "avatar.svg", class: "avatar" %>
          <% end %>
          <div class="left popular_content">
            <p><small><%= message.user.first_name %> <%= message.user.last_name %></small></p>
            <p><small><em><%= message.content %></em></small></p>
          </div>
          <small><%= message.get_likes.count %> Likes</small>
        </div>
      <% end %>
    <p class="right">See all messages</p>
    <h4>Popular Questions</h4>
      <p><% popular_questions = @questions.order(cached_votes_total: :desc).first(2) %></p>
      <% popular_questions.each do |question|%>
        <div class="d-flex justify-content-around align-items-center">
          <% if question.user.photo.attached? %>
            <%= image_tag question.user.photo.key, class: "avatar" %>
          <% else %>
            <%= image_tag "avatar.svg", class: "avatar" %>
          <% end %>
          <div class="left popular_content">
            <p><small><%= question.user.first_name %> <%= question.user.last_name %></small></p>
            <p><small><em><%= question.content %></em></small></p>
          </div>
          <small><%= question.get_likes.count %> Likes</small>
        </div>
      <% end %>
    <p class="right">See all questions</p>
  </div>
  <div class="card-box-wide">
    <h4 class="center">Poll results</h4>
    <% unless @event.polls == nil || @event.polls.empty? %>
      <% @event.polls.each do |poll|  %>
        <div class="poll-results">
          <div>
            <p><%= poll.title %></p>
            <% poll.choices.each do |choice| %>
              <%= choice.answer %>
              <%= choice.responses.count %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h5>No Polls for this event</h5>
    <% end %>
  </div>
  <div class="card-box">
    <h4 class="center">Feedback</h4>
    <% unless @event.feedbacks == nil || @event.feedbacks.empty? %>
        <% rate = @event.feedbacks.average(:rating) %>
        <p class="text-space-around"><%= '⭐️' * rate%></p>
        <div class="d-flex justify-content-around">
          <p>Average rating</p>
          <%= rate %>
        </div>
        <% @event.feedbacks.each do |feedback| %>
        <div class="feedback d-flex justify-content-between">
          <p><em><%= feedback.comment %></em></p>
          <small>By <%= feedback.user.first_name %> <%= feedback.user.last_name %></small>
        </div>
        <% end %>
      <p class="right"><%= link_to "See all feedback", event_feedbacks_path, class: "btn btn-new"%></p>
    <% end %>
  </div>
</div>

<h3 class="text-red text-space-around">Audience details</h3>
<div class="summary-cards">
  <div class="card-box">
    <div id="audience-list">
       <h3><%= @event.audiences.count %> <small>attendees</small></h3>
       <p>See all</p>
    </div>
      <% @event.users.first(4).each do |audience| %>
        <div class="audience-card">
          <div>
            <% if audience.photo.attached? %>
              <%= cl_image_tag audience.photo.key, class: "avatar" %>
            <% else %>
               <%= image_tag "avatar.svg", class: "avatar" %>
            <% end %>
          </div>
           <div class="audience-name-card">
             <h6><%= audience.first_name %> <%= audience.last_name %></h6>
          </div>
        </div>
      <% end %>
  </div>
  <div class="card-box">
    <h4 class="center">Audience age</h4>
    <%= bar_chart @event.users.group("FLOOR(age / 10) * 10").count, width: "240px", height: "240px", colors: ['#800000']%>
  </div>
  <div class="card-box">
    <h4 class="center">Gender breakdown</h4>
    <%= pie_chart @event.users.group(:gender).count, width: "240px", height: "240px", colors: ['#800000', '#001980'] %>
    <div class="d-flex justify-content-around m-3">
      <% females = @event.users.select do |user| %>
        <% user.gender == "Female"  %>
      <% end %>
      <% unless females == nil || females.empty? %>
        <p>Female <%= ((females.count.to_f / @event.users.count) * 100).round %>%</p>
        <% males = @event.users.select do |user| %>
          <% user.gender == "Male"  %>
        <% end %>
      <% end %>
      <% unless  males == nil || males.empty? %>
        <p>Male <%= ((males.count.to_f / @event.users.count) * 100).round %>%</p>
      <% end %>
    </div>
  </div>
  <div class="card-box">
    <h5 class="center">Audience occupation breakdown</h5>
    <div class="d-flex justify-content-around">
      <%= pie_chart @event.users.group(:occupation).count, donut: true, id: "users-chart", height: "300px", width: "320px", colors: ['#001980', '#800000', '#D78C00', '#357544', '#75355D', '#FF8C9E'] %>
    </div>
  </div>
</div>
<%= render 'compare_summary', event: @event, audiences: @audiences, messages: @messages, questions: @questions %>








