<div class="container">
  <h1><%= @event.title %> Overview</h1>

  <!-- Find Total Age -->
  <% total_age = 0 %>
  <% @event.users.each do |user| %>
    <% total_age += user.age %>
  <% end %>

  <!-- Show Avarage Age -->
   <%= bar_chart @event.users.group(:age).count %>

  <!-- Count Females and Show Persentage -->
  <%= pie_chart @event.users.group(:gender).count, colors: ["#800000", "#211485"] %>
  <% females = @event.users.select do |user| %>
    <% user.gender == "Female"  %>
  <% end %>
  <h3>Female</h3>
  <p><%= ((females.count.to_f / @event.users.count) * 100).round %>%</p>

  <!-- Count Males and Show Persentage -->
  <% males = @event.users.select do |user| %>
    <% user.gender == "Male"  %>
  <% end %>
  <h3>Male</h3>
  <p><%= ((males.count.to_f / @event.users.count) * 100).round %>%</p>


</div>

