<div class="container">
  <h1><%= @event.title %> Overview</h1>

  <h2><%= @event.audiences.count %> audiences attended</h2>


  <!-- Show Age -->
   <%= bar_chart @event.users.group("FLOOR(age / 10) * 10").count %>

  <!-- Count Females and Show Persentage -->
  <%= pie_chart @event.users.group(:gender).count %>
  <% females = @event.users.select do |user| %>
    <% user.gender == "Female"  %>
  <% end %>
  <h3>Female</h3>
  <p><%= ((females.count.to_f / @event.users.count) * 100).round %>%</p>

  <!-- Count Males and Show Persentage -->
  <% males = @event.users.select do |user| %>
    <% user.gender == "Male"  %>
  <% end %>
  <h3>Male</h3>
  <p><%= ((males.count.to_f / @event.users.count) * 100).round %>%</p>

  <%= pie_chart @event.users.group(:occupation).count, donut: true %>

</div>
<div class="container">
  <h1>Comapare with your previous events</h1>
  <%= column_chart @audiences.group(:event_id).count %>
  <%= line_chart @messages.group(:event_id).count %>
  <%= line_chart @questions.group(:event_id).count %>
</div>

