<div class="poll-title-btn">
  <h1 class="center text-around" id="polls">Polls</h1>
  <button class="btn btn-outline-secondary btn-create">+</button>
</div>
<div class="container content-container">
  <div class="background-container">
    <% if current_user == @event.user %>
      <div class="form none">
        <div class="container center form-container">
            <%= simple_form_for([@event, @new_poll], remote: true) do |f| %>
              <%= f.input :event_id, as: :hidden, input_html: { value: @event.id } %>
              <%= f.input :title, label: "Poll Title" %>
              <%= f.simple_fields_for :choices do |choice_form| %>
                <%= choice_form.input :answer, label: "Option 1" %>
              <% end %>
              <%= f.simple_fields_for :choices do |choice_form| %>
                <%= choice_form.input :answer, label: "Option 2" %>
              <% end %>
              <%= f.simple_fields_for :choices do |choice_form| %>
                <%= choice_form.input :answer, label: "Option 3" %>
              <% end %>
              <%= f.simple_fields_for :choices do |choice_form| %>
                <%= choice_form.input :answer, label: "Option 4" %>
              <% end %>
              <%= f.submit class: "btn btn-outline-danger" %>
            <% end %>
        </div>
      </div>
    <% end %>
    <!-- LATEST POLL -->

    <% if @event.polls.any? %>
      <% poll = @event.polls.last %>
      <% unless current_or_guest_user.responses.where(choice: poll.choices).any? %>
        <h3 class="center text-space-top"><%= poll.title %></h3>
        <div class="container poll-container center">
          <% choices = Choice.where(poll: poll).where.not(answer: "") %>
            <% choices.each do |choice| %>
              <%= simple_form_for Response.new, remote: true do |f| %>
                <%= f.input :choice_id, as: :hidden, input_html: { value: choice.id } %>
                <div>
                  <%= f.submit "#{choice.answer}", class: "btn btn-outline-danger poll-button" %>
                </div>
              <% end %>
            <% end %>
        </div>
      <% end %>
    <% end %>

    <!-- LATEST POLL -->

    <% if !@event.polls.empty? && @event.polls.count > 1 %>
        <div class="center m-5">
          <%= link_to "Answer previous polls", "#{params[:id]}/polls", class: "btn btn-danger"%>
        </div>
    <% end %>

    <h3 class="center m-3">Poll results</h3>
    <% unless @event.polls == nil || @event.polls.empty? %>
      <% @event.polls.reverse.each do |poll|  %>
        <div class="card-box-wide card-box-poll">
          <h4><%= poll.title %></h4>
          <div class="d-flex justify-content-center mb-5">
            <%= bar_chart poll.responses.group("choices.answer").count, messages: {empty: "Waiting for votes..."},dataset: {barThickness: 20}, width: "80%", height: "300px", colors: ['#800000'] %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h5 class="center">No Polls for this event</h5>
    <% end %>
  </div>
</div>

