<div class="container poll-container center">
  <h1>Polls</h1>
<% if current_user == @event.user %>
  <div class="container content-container">
    <%= simple_form_for([@event, @new_poll]) do |f| %>
      <%= f.input :event_id, as: :hidden, input_html: { value: @event.id } %>
      <%= f.input :title, label: "Poll Title" %>
      <%= f.simple_fields_for :choices do |choice_form| %>
        <%= choice_form.input :answer, label: "Option 1" %>
      <% end %>
      <%= f.simple_fields_for :choices do |choice_form| %>
        <%= choice_form.input :answer, label: "Option 2" %>
      <% end %>
      <%= f.simple_fields_for :choices do |choice_form| %>
        <%= choice_form.input :answer, label: "Option 3" %>
      <% end %>
      <%= f.simple_fields_for :choices do |choice_form| %>
        <%= choice_form.input :answer, label: "Option 4" %>
      <% end %>
      <%= f.submit class: "btn-input" %>
    <% end %>
  </div>
</div>
<% end %>
