<div class="container content-container">
  <h1>Poll</h1>
  <div id="polls" data-event-id="<%= event.id %>">
      <%= render "polls/poll", poll: Poll.new  %>
  </div>

  <div class="radio-toolbar center">
    <%= simple_form_for([event, Poll.new], remote: true) do |f| %>
      <%= f.input :choices, as: :radio_buttons, collection: [['A', "#{Choice.new}"], ['B', "#{Choice.new}"], ['C', "#{Choice.new}"], ['D', "#{Choice.new}"] ], label_method: :second, value_method: :first %>
      <div class="center">
        <%= f.submit 'Send', class: "btn-input" %>
      </div>
    <% end %>
  </div>
</div>
