<div class="container content-container">
  <div class="radio-toolbar center">
    <%# unless @event.polls == nil %>
      <%# @event.polls.each do |poll| %>
        <%# poll.choices.each do |choice| %>
          <%#= simple_form_for @response do |f| %>
            <%#= f.input :choice, as: :radio_buttons, collection: [['A', "#{choice.answer}"], ['B', "#{choice.answer}"], ['C', "#{choice.answer}"], ['D', "#{choice.answer}"] ], label_method: :second, value_method: :first %>
            <div class="center">
              <%#= f.submit 'Send', class: "btn-input" %>
            </div>
          <%# end %>
        <%# end %>
      <%# end %>
    <%# end %>
  </div>

  <%= simple_form_for([@event, @new_poll]) do |f| %>
    <%= f.input :event_id, as: :hidden, input_html: { value: @event.id } %>
    <%= f.text_field :title, placeholder: "Poll Title" %>
    <%= f.simple_fields_for :choices do |choice_form| %>
      <%= choice_form.input :answer %>
    <% end %>
    <%= f.simple_fields_for :choices do |choice_form| %>
      <%= choice_form.input :answer %>
    <% end %>
    <%= f.simple_fields_for :choices do |choice_form| %>
      <%= choice_form.input :answer %>
    <% end %>
    <%= f.simple_fields_for :choices do |choice_form| %>
      <%= choice_form.input :answer %>
    <% end %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

</div>
