<h1 class="center text-space-around">Feedback</h1>
<div class="container form-container center">
  <p>Thank you for your participaton!</p>
  <p>I appreciate if you can kindly share your feedback with us.</p>
  <%= simple_form_for([event, Feedback.new], remote: true) do |f| %>
    <%= f.input :event_id, as: :hidden, input_html: { value: @event.id } %>
    <div class="input-field">
      <%= f.input :comment, label: "Please leave a comment" %>
      <%= f.input :rating, as: :select, label: "How would you rate this event?", collection: [ "1", "2", "3", "4", "5"] %>
    </div>
    <div class="center">
      <%= f.submit 'Send', class: "btn btn-outline-danger" %>
    </div>
  <% end %>
</div>
